{% extends "base.html" %} {% block title %} Abhedya - register {% endblock %} {% block content %} {% load crispy_forms_tags %}

<style>
    h2{
        color: var(--green); font-size: 5rem;
        font-family: 'Orbitron', sans-serif;
    }

    .background-blur{
            padding: 2%;
            backdrop-filter: blur(8px);
            border-radius: 5%;
    }
    #div_id_password1, #div_id_password2{
      padding-left:15px;
      padding-right:15px
    }
    #error_1_id_email, #error_1_id_username, #error_1_id_password1, #error_1_id_password2, #error_1_id_phoneNumber{
      color:#c40202;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{
      color:#c40202;
    } 
    
</style>


<section>
    <div class="background-blur">
        <h2>Register</h2>
        <hr>
        <form method="POST" action="" class="register"> 
          {% csrf_token %}
          {{form|as_crispy_errors}}
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                    {{form.first_name|as_crispy_field}}
               </div>
            <div class="form-group col-md-6 mb-0">
                    {{form.last_name|as_crispy_field}}
               </div>

              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{form.email|as_crispy_field}}
                 </div>
                <div class="form-group col-md-6 mb-0">
                  {{form.username|as_crispy_field}}
                </div> 
              </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{form.phoneNumber|as_crispy_field}}
                 </div>
                <div class="form-group col-md-6 mb-0">
                  {{form.institute|as_crispy_field}}
                </div>
            </div>
            <div class="mr-5 ml-5"}>
                  {{form.password1|as_crispy_field}}
                  {{form.password2|as_crispy_field}}
            </div>
                
            <input type="submit" value="submit" name="" class="btn btn-primary btn-lg " style="background-color: var(--green); margin-left:15px; border:0;">
        </form>
    </div>
<hr>
</section>

{%endblock%}


